body {
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 5ex;
    padding-left: 20ex;
}

.box {
    display: inline-block;
    border-radius: 0.5rem;
    border: solid 1px #eee;
    padding: 0.5rem;
}

td {
    vertical-align: baseline;
}

.addr {
    font-size: 12px;
    font-family: ui-monospace, monospace;
    color: #777;
}

.asm {
    padding: 0 1rem;
}

.effect {
    font-size: 12px;
}